################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/PointsGame/bin
/PointsGame/obj
/PointsGame/Properties
/PointsGame/PointsGame.xml
/PointsGame/appsettings.Development.json
/.vs
